.btn {
  height: 5vw;
  width: 8vw;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #ff5f8f;
  font-size: 1vw;
  text-align: center;

}
.btn:focus { outline-style: none; }

.main{
  background-image: url('images/lovehearts.jpg');
  background-repeat: repeat-x;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  height: 75%;
  width: 100%
}

h1{
  color: white;
  font-size: 6vw;
  text-align: center;
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
}

html, body{
  text-align: center;
  height: 100%;
}
