.btn {
  height: 5vw;
  width: 8vw;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #ff5f8f;
  font-size: 1vw;
  text-align: center;

}
.btn:focus { outline-style: none; }

.main{
  background-image: url('images/lovehearts.jpg');
  background-repeat: repeat-x;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  height: 75%;
  width: 100%
}

.form{
  background-color: #f2d0dc;
  height: 30%;
}

.tool{
  background-color: #f2d0dc;
  height: 20%;
  width: 100%;
  text-align: left;
}

.about{
  background-color: #ff5f8f;
  height: 30%;
  width: 100%;
  text-align: left;
  padding-top: 10px;
}

#message{
  width: 60%;
  height: 100%;
}

h1{
  color: white;
  font-size: 6vw;
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
}

h2{
  font-size: 2vw;
  color: #ff5f8f;
  padding-top: 2%;
}

h3{
  color: white;
  padding: 10px;
  text-align: center;
}

html, body{
  text-align: center;
  height: 100%;
  background-color: black;
}
